body {

	background-image: "SpelunkyIcon.png";
	background-repeat: no-repeat; 
	background-position:left bottom; 
	
}
a{
	color:#000000;
	border-radius: 2px;
	border-width: 3px;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
}
h1{
	color:#000000;
}
img{
	position: absolute;
	left: 1000px;
	top: 400px;
}